
@mixin colorize-exercise-status($color) {
  color: $color
}

@mixin guide-progress($color) {
  color: $color;
}

.colorize-exercise-status.fa-times { @include colorize-exercise-status($brand-danger) }
.colorize-exercise-status.fa-check { @include colorize-exercise-status($brand-success) }
.colorize-exercise-status.fa-exclamation { @include colorize-exercise-status($brand-warning) }

.guide-progress-high { @include guide-progress($brand-success) }
.guide-progress-medium { @include guide-progress($brand-warning) }
.guide-progress-low { @include guide-progress($brand-danger) }
.guide-progress-empty { @include guide-progress(lightgrey) }
.guide-progress-empty .fa {
  color: lightgrey;
}

.guide-progress-options {
  margin-bottom: 15px;
  padding: 0;

  li {
    display: inline;
    margin-right: 50px;
  }
}

.guide-progress-header {
  margin-bottom: 15px;
}

.option-buttons {
  margin-top: 15px;
}

.guide-progress-blog {
  padding: 15px;
  border: 1px solid #f0f0f0;
  img {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
  strong {
    margin-right: 5px;
  }
}

.rounded-x {
  border-radius: 50% !important;
}

.name-location {
  overflow: hidden;
  text-overflow: ellipsis;
  strong, small {
    white-space: nowrap;
  }
  .fa {
    margin-right: 5px;
  }
}

.student-guide-details section {
  margin-top: 15px;
}

.detail-title {
  margin-top: 15px;
}

.option-buttons {
  margin-top: 15px;
}

pre {
  margin-top: 5px;
}

input.form-control[readonly] {
  background-color: white !important;
}

input.form-control[disable="disable"] {
  background-color: grey !important;
}

.student-progress-bar {
  margin-top: 1em;
  margin-bottom: 0;
}

.view-in-laboratory {
  margin-left: 10px;
}

.input-group .input-group-btn button.btn-filter {
  background-color: #ecf0f1;
  border: 1px solid $input-border;
  padding: 10px 11px;
  color: $brand-primary;
  &.group-span {
    padding: 3px 11px;
    .span-icon {
      font-weight: bold;
      font-size: 25px;
      padding: 0px 3px;
    }
    span.caret {
      padding-bottom: 4px;
    }
  }
}

.report {
  text-align: right;
  margin-top: 10px;
}
