
div.error {
  margin-top: 5px;
  margin-left: 5px;
}

.profile {
  margin-top: -10px;
  margin-bottom: -10px;
}

.footer {
  position: fixed;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #FFFFFF;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #E5E5E5;
}

.pointer {
  cursor: pointer
}
