.breadcrumb {
  margin: 0;
  padding: 0;
  background-color: transparent;
  .brand {
    font-size: 44px;
    a {
      color: $brand-primary;
      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }
}

.user-menu {
  margin: 20px 0;
  text-align: right;
  #profileDropdown {
    cursor: pointer;
  }
}

/* TODO: move to mumuki-styles */
.mu-inline-block-left {
  margin-left: 15px;
}

.mu-inline-block-right {
  float: right !important;
  display: inline-block;
  margin-right: 15px;
  margin-left: 10px;
}
