.breadcrumb {
  margin: 6px 0 3px;
  padding: 0;
  background-color: transparent;
  .brand {
    font-size: 38px;
    padding: 0px 3px 0;
    a {
      color: $brand-primary;
      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }
}

.user-menu {
  margin: 20px 0;
  text-align: right;
  #profileDropdown {
    cursor: pointer;
  }
}

/* TODO: move to mumuki-styles */
.mu-inline-block-left {
  margin-left: 15px;
}

.mu-inline-block-right {
  float: right !important;
  display: inline-block;
  margin-right: 15px;
  margin-left: 10px;
}

.scrollable-menu {
  height: auto;
  max-height: 350px;
  overflow-x: hidden;
}

.student-dropdown-search {
  border-radius: 0px;
  margin-top: -5px;
}

.adjust-position {
  margin-top: -15px;
}
