.mu-breadcrumb-list {
  position: absolute;

  top: 5px;

  .mu-breadcrumb-list-item {

    .dropdown-menu {
      position: absolute;
    }

  }
}

.scrollable-menu {
  height: auto;
  max-height: 350px;
  overflow-x: hidden;
}

.student-dropdown-search {
  border-radius: 0px;
  margin-top: -5px;
}

.adjust-position {
  margin-top: -15px;
}
