.new-student {
  position: fixed;
  @include display-flex(column, center, center);
  height: 100%;
  width: 100%;
  .student-form {
    @include display-flex(column, center, center);
    img {
      width: 100px;
    }
    h3 {
      color: white;
    }
    padding: 2rem 10rem 1rem;
    form {
      width: 300px;
    }
    small {
      font-weight: bold;
      font-size: 1.5rem;
    }
    h6 {
      color: white;
    }
  }
}

