.pagination > li {
  a {
    background-color: $brand-success;
    &:hover {
      background-color: darken($brand-success, 15%);
    }
    &:focus {
      background-color: darken($brand-success, 15%);
    }
  }
}
.pagination > .active {
  a {
    background-color: darken($brand-success, 15%);
    &:hover {
      background-color: darken($brand-success, 15%);
    }
    &:focus {
      background-color: darken($brand-success, 15%);
    }
  }
}

.pagination {
  margin: 0 0 15px;
}

.block {
  width: 100%;
}
