
.divider-vertical {
  padding: 10px 0 11px 15px;
  margin-left: 15px;
  border-left: 1px solid #CCC;
}

.item-name {
  text-overflow: ellipsis;
}

.clipboard {
  cursor: pointer;
  color: #775F36;
}
