.divider-vertical {
  padding: 10px 0 11px 15px;
  margin-left: 15px;
  border-left: 1px solid #CCC;
}


.list-group-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.clipboard {
  cursor: pointer;
  color: #775F36;
}

.item {
  cursor: pointer;
  width: 90%;
}

.settings-icon {
  cursor: pointer;
}
