@mixin display-flex($flow: row, $position-x: space-between, $position-y: center) {
  display: flex;
  flex-flow: $flow nowrap;
  justify-content: $position-x;
  align-items: $position-y;
}

@mixin text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

$floating-card-padding: 5px;
$color-default: #ecf0f1;
$avatar-size: 5.75rem;

.panel-default {
  border: none;
  box-shadow: none;
}

.floating-card {
  padding: $floating-card-padding;
  position: relative;
}
.panel-content {
  padding-top: $floating-card-padding;
  position: relative;
}
.panel-heading {
  padding: 15px;
  border: none;
}

paginator {
  margin-top: 15px;
}

.student-card {
  @include display-flex(column);

  border: solid 1px $color-default;
  padding: 15px;

  .student-card-menu {
    position: absolute;
    align-self: flex-end;
    margin: -19px 11px;
  }

  .student-card-profile {
    @include display-flex;

    width: 100%;

    .student-card-profile-image {
      @include display-flex(row, center, center);

      img {
        height: $avatar-size;
        width: $avatar-size;
        object-fit: cover;
      }
    }

    .student-card-profile-data {
      @include display-flex(column, center, flex-start);

      width: 100%;
      margin: 0 15px;
      overflow: hidden;

      .student-card-profile-data-item {

        width: 100%;
        white-space: nowrap;

        .fa { margin-right: 3px }
        .student-card-profile-data-item-text {
          @include text-ellipsis;
        }
      }
    }

    .student-card-profile-status {
      @include display-flex(column-reverse, center, flex-end);
      .student-card-profile-status-row {
        @include text-ellipsis;
        font-size: 85%;
        font-weight: bold;
        .fa { margin-left: 3px }
        &.failed { color: $brand-danger }
        &.passed { color: $brand-success }
        &.passed_with_warnings { color: $brand-warning }
        &.empty {
          span, i { color: #d1d1d1 }
        }
      }
    }
  }

}

.student-card-recent {
  @include display-flex;
  width: 100%;
  background-color: lighten($color-default, 4%);
  border: solid 1px $color-default;
  border-top: none;
  .student-card-recent-column {
    @include display-flex(column, center, center);
    width: 50%;
    padding: 5px 0;
    overflow: hidden;
    .fa, .da { margin-right: 3px }
    .student-card-recent-column-text {
      @include text-ellipsis;
      padding: 0 15px;
    }
    &.right-separator {
      border-right: solid 1px $color-default;
    }
  }
}

.student-guide-details {
  @include display-flex(column, flex-start, flex-start);
  width: 100%;
  overflow: hidden;
  white-space: nowrap;

  .student-guide-details-title {
    width: 100%;

    .student-guide-details-title-text {
      @include text-ellipsis;
    }
  }

  .student-guide-details-exercise {
    width: 100%;
    @include display-flex(row, space-between, center);

    .student-guide-details-exercise-text {
      @include text-ellipsis;
    }
  }

  .student-guide-details-code {
    width: 100%;
    height: 130px;
    pre {
      height: 125px;
      overflow-y: auto;
    }
  }

}

.divider-vertical {
  border-left-color: $color-default;
}

.teacher-card.row {
  margin: 0
}

.list-header-options {

  @include display-flex(column, space-around, flex-start);

  .list-header-option {
    @include display-flex(row, flex-start, center);
    button {
      padding: 10px;
      border: none;
    }
  }

}

.small-font {
  font-size: 86%;
}
