.container

  ul.nav.nav-tabs
    li(ng-repeat='tab in tabs', ng-class='{ active: is(tab) }', ng-click='open(tab)')
      a(href='') {{ tab | translate }}
        span(ng-show="is(tab)") {{ '(' + count + ')' }}

  br

  div.row
    div.col-md-12
      div.pull-right
        a.btn.btn-link(href='', ng-click='export()')
          span.view-mode {{ 'export_solutions_button' | translate }}
          i.fa.fa-download
        a#downloadAnchor(style='display:none')
      button.btn.btn-success.pull-left(ng-click='goToAddStudents()') {{ 'new_student' | translate }}
  br

  div(ui-view='main')
