.container

  ul.nav.nav-tabs
    li(ng-repeat='tab in tabs', ng-class='{ active: is(tab) }', ng-click='open(tab)')
      a(href='') {{ tab | translate }}
        span(ng-show="is(tab)") {{ '(' + count + ')' }}

  br

  div.row
    .col-md-2
      button.btn.btn-success(ng-click='goToAddStudents()') {{ 'new_student' | translate }}
    .col-md-7(style='margin-top: 10px')
      a(href='', ng-click='inviteStudents()', ng-if="course.invitationExpired()") {{ 'invite_students' | translate }}
      p(ng-if="!course.invitationExpired()")
        span {{ 'invitation_link' | translate }}:
        span &nbsp;
        span.mu-disabled {{ course.invitationLink() }}
        span &nbsp;
        a(href='', ng-click="copy(course.invitationLink())"): i.fa.fa-fw.fa-clipboard
        span &nbsp;
        span.mu-disabled(ng-if='isCopied') {{ 'copied' | translate }}
    .col-md-3.pull-right.report
      div(ng-if="isAdmin")
        a(ng-click='export()')
          span.view-mode {{ 'export_solutions_button' | translate }}
          i.fa.fa-download
        a#downloadAnchor(style='display:none')
      div
        a(href='{{ reportUrl() }}' download)
          span.view-mode {{ 'export_course_report' | translate }}
          i.fa.fa-download

  br

  div(ui-view='main')
