.container

  ul.nav.nav-tabs
    li(ng-repeat='tab in tabs', ng-class='{ active: is(tab) }', ng-click='open(tab)')
      a(href='') {{ tab }}

  br

  div
    small.text-muted Dirección de suscripción de alumnos:&nbsp;
    small.text-muted.text-primary {{ url() }}
    span.clipboard
      span &nbsp;
      i.fa.fa-clipboard(ng-click='copy()')
      small.text-muted(ng-show='isCopied') &nbsp; Copied!

  br

  div(ui-view='main')
