.container

  ul.nav.nav-tabs
    li(ng-repeat='tab in tabs', ng-class='{ active: is(tab) }', ng-click='open(tab)')
      a(href='') {{ tab | translate }}
        span(ng-show="is(tab)") {{ '(' + count + ')' }}

  br

  div.row
    .col-md-2
      button.btn.btn-success(ng-click='goToAddStudents()') {{ 'new_student' | translate }}
    .col-md-7
      button.btn.btn-success(ng-click='inviteStudents()') {{ 'invite_students' | translate }}
    .col-md-3(style='text-align: right')
      a.btn.btn-link(href='', ng-click='export()')
        span.view-mode {{ 'export_solutions_button' | translate }}
        i.fa.fa-download
      a#downloadAnchor(style='display:none')
  br

  div(ui-view='main')
