div

  .input-group
    i.input-group-addon.fa.fa-search
    input.form-control(id='filter', placeholder='{{ inputPlaceholder | translate }}', ng-model='listSearch')

  br

  div.list-group
    .list-group-item(ng-repeat='item in list | orderBy: sortCriteria() | filter:listSearch:searchComparator')
      .item.pull-left(ng-click='open(item)')
        i(class='{{ item.iconClass() }}')
        span.divider-vertical
        span.item-name {{ item.getName() | uppercase }}
    label(ng-if='!(list | orderBy: sortCriteria() | filter:listSearch:searchComparator).length')
      | {{ noItemsToShow | translate }}
  button.btn.btn-success.pull-right(ng-if='isTeacher()', ui-sref='classroom.courses.course.exams.new')
    | {{ 'new_exam' | translate }}
