.container
  .row
    h1
      img.rounded-x(ng-src='{{ progress.student.image_url }}', width='100px')
      span {{ progress.student.name }}
      small.show {{ progress.getName() }}
      small
        span {{ progress.submissionsCount() + ' soluciones enviadas' }}
        span
          status-icon(status='progress.exercise.lastSubmission().status')

  nav
    ul.pagination

      li
        a(href='', aria-label='Anterior', ng-click='prev()')
          span(aria-hidden='true') &laquo;

      li(ng-repeat='diff in diffs', ng-class='{ active: isSelectedDiff(diff) }')
        a(href='', ng-click='selectDiff(diff)') {{ $index + 1 }}

      li
        a(href='', aria-label='Siguiente', ng-click='next()')
          span(aria-hidden='true') &raquo;

  diff-side(language='{{ progress.guide.language.name }}', left='selectedDiff.left.content', right='selectedDiff.right.content')

  .row
    .col-sm-6(ng-repeat='submission in [ selectedDiff.left, selectedDiff.right ]')
      .bs-callout(ng-class='"bs-callout-" + submission.colorClass()', ng-if='submission.test_results.length')
        h4 Pruebas
        p
          .row(ng-repeat='result in submission.test_results')
            .col-sm-11
              span {{ result.title || 'Ejemplo ' + ($index + 1) }}
            .col-sm-1
              status-icon(status='result.status')

      .bs-callout(ng-class='"bs-callout-" + submission.colorClass()', ng-if='submission.result')
        h4 Resultado
        p
          div(ng-bind-html='trust(submission.result)')

      .bs-callout(ng-class='"bs-callout-" + submission.colorClass()', ng-if='submission.expectation_results.length')
        h4 Expectativas
        p
          .row(ng-repeat='expectationResult in submission.expectation_results')
            .col-sm-11
              span {{ expectationResult.binding }}
              i.expectation-arrow
              span {{ expectationResult.inspection }}
            .col-sm-1
              status-icon(status='expectationResult.result')
