
.container
  .row.guide-progress-header
    h2
      .col-sm-8
        span {{ guide.name }}
        small &nbsp; ({{ guide.exercises.length }})

      .col-sm-4
        i.pull-right(class='{{ guide.iconClass() }}')

  .row
    .col-md-3.pull-right.report
      div
        a(href='{{ reportUrl() }}' download)
          span.view-mode {{ 'export_guide_report' | translate }}
          i.fa.fa-download

  div(ng-include='"views/templates/list-header.html"')
