
.container
  .row.guide-progress-header
    h2
      .col-sm-8
        span {{ guide.name }}
        i.devicons(class='{{ guide.iconClass() }}')

        small.show {{ guide.lesson.name }}

      .col-sm-4
        small.pull-right
          a(href='{{ guide.getMumukiURL() }}', target='_blank')
            span {{ 'open_in_atheneum' | translate }}

  div(ng-include='"views/templates/list-header.html"')
