div

  .input-group
    i.input-group-addon.fa.fa-search
    input.form-control(id='filter', placeholder='{{ inputPlaceholder | translate }}', ng-model='listSearch')

  br

  div.list-group
    .list-group.no-margin-bottom(ng-repeat='(chapter, guides) in chaptersAndLessons')
      #accordion.panel-group.no-margin-bottom(role='tablist', aria-multiselectable='true')
        .panel.panel-default
          .panel-heading(id='heading{{$index}}', role='tab')
            h4.panel-title
              a(ng-click='setLastChapterOpened(chapter)', role='button', data-toggle='collapse', data-parent='#accordion', data-target='#collapse{{$index}}', aria-controls='collapse{{$index}}')
                |  {{ chapter | translate | uppercase }}
          .panel-collapse.collapse(id='collapse{{$index}}', role='tabpanel', aria-labelledby='heading{{$index}}', ng-class="{ in: actualChapter(chapter) }")
            .guide-chapter-list
              button.list-group-item.noborder-radius(ng-repeat='guide in guides | orderBy: sortCriteria() | filter:listSearch', ng-click='open(guide)')
                i(class='{{ guide.iconClass() }}')
                span.divider-vertical
                span.item-name {{ guide.getName() | uppercase }}
                label(ng-if='!(guides | orderBy: sortCriteria() | filter:listSearch).length')
                  | {{ noItemsToShow | translate }}
    .panel.panel-default(ng-if='present(complements)')
      .panel-heading(id='headingComplements', role='tab')
        h4.panel-title
          a(role='button', data-toggle='collapse', data-parent='#accordion', data-target='#collapseComplemets', aria-controls='collapseComplemets')
            |  {{ 'complements' | translate | uppercase }}
      .panel-collapse.collapse(id='collapseComplemets', role='tabpanel', aria-labelledby='headingComplemets')
        .guide-chapter-list
          button.list-group-item.noborder-radius(ng-repeat='complement in complements | orderBy: sortCriteria() | filter:listSearch', ng-click='open(complement)')
            i(class='{{ complement.iconClass() }}')
            span.divider-vertical
            span.item-name {{ complement.getName() | uppercase }}
            label(ng-if='!(complements | orderBy: sortCriteria() | filter:listSearch).length')
              | {{ noItemsToShow | translate }}
    .panel.panel-default(ng-if='present(exams)')
      .panel-heading(id='headingExams', role='tab')
        h4.panel-title
          a(role='button', data-toggle='collapse', data-parent='#accordion', data-target='#collapseExams', aria-controls='collapseExams')
            |  {{ 'exams' | translate | uppercase }}
      .panel-collapse.collapse(id='collapseExams', role='tabpanel', aria-labelledby='headingExams')
        .guide-chapter-list
          button.list-group-item.noborder-radius(ng-repeat='exam in exams | orderBy: sortCriteria() | filter:listSearch', ng-click='open(exam)')
            i(class='{{ exam.iconClass() }}')
            span.divider-vertical
            span.item-name {{ exam.getName() | uppercase }}
            label(ng-if='!(exams | orderBy: sortCriteria() | filter:listSearch).length')
              | {{ noItemsToShow | translate }}
    .panel.panel-default(ng-if='present(others)')
      .panel-heading(id='headingOthers', role='tab')
        h4.panel-title
          a(role='button', data-toggle='collapse', data-parent='#accordion', data-target='#collapseOthers', aria-controls='collapseOthers')
            |  {{ 'others' | translate | uppercase }}
      .panel-collapse.collapse(id='collapseOthers', role='tabpanel', aria-labelledby='headingOthers')
        .guide-chapter-list
          button.list-group-item.noborder-radius(ng-repeat='guide in others | orderBy: sortCriteria() | filter:listSearch', ng-click='open(guide)')
            i(class='{{ guide.iconClass() }}')
            span.divider-vertical
            span.item-name {{ guide.getName() | uppercase }}
            label(ng-if='!(others | orderBy: sortCriteria() | filter:listSearch).length')
              | {{ noItemsToShow | translate }}
  button.btn.btn-success.pull-right(ng-if='isAdmin()', ui-sref='classroom.courses.new')
    | {{ 'new_course' | translate }}

