
.container
  .row.guide-progress-header
    h2
      .col-sm-8
        span {{ guide.name }}
        small &nbsp; ({{ guide.exercises.length }})

      .col-sm-4
        i.pull-right(class='{{ guide.iconClass() }}')

  div(ng-include='"views/templates/list-header.html"')
