.container

  .input-group
    i.input-group-addon.fa.fa-search
    input.form-control(id='filter', placeholder='{{ inputPlaceholder | translate }}', ng-model='listSearch')

  br

  div.list-group
    .list-group(ng-repeat='(chapter, lessons) in chaptersAndLessons')
      #accordion.panel-group(role='tablist', aria-multiselectable='true')
        .panel.panel-default
          .panel-heading(id='heading{{$index}}', role='tab')
            h4.panel-title
              a(role='button', data-toggle='collapse', data-parent='#accordion', data-target='#collapse{{$index}}', aria-controls='collapse{{$index}}')
                |  {{ chapter | translate | uppercase }}
          .panel-collapse.collapse(id='collapse{{$index}}', role='tabpanel', aria-labelledby='heading{{$index}}', ng-class="$index === 0 ? 'in' : ''")
            .panel-body
              button.list-group-item(ng-repeat='lesson in lessons | orderBy: sortCriteria() | filter:listSearch', ng-click='open(lesson)')
                i(class='{{ lesson.iconClass() }}')
                span.divider-vertical
                span.item-name {{ lesson.getName() | uppercase }}
                label(ng-if='!(lessons | orderBy: sortCriteria() | filter:listSearch).length')
                  | {{ noItemsToShow | translate }}
    .list-group
      #accordion.panel-group(role='tablist', aria-multiselectable='true')
        .panel.panel-default
          .panel-heading(id='heading{{$index}}', role='tab')
            h4.panel-title
              a(role='button', data-toggle='collapse', data-parent='#accordion', data-target='#other{{$index}}', aria-controls='other{{$index}}')
                |  {{ 'others' | translate }}
          .panel-collapse.collapse(id='other{{$index}}', role='tabpanel', aria-labelledby='heading{{$index}}')
            .panel-body
              button.list-group-item(ng-repeat='guide in others | orderBy: sortCriteria() | filter:listSearch', ng-click='open(lesson)')
                i(class='{{ guide.iconClass() }}')
                span.divider-vertical
                span.item-name {{ guide.getName() | uppercase }}
                label(ng-if='!(others | orderBy: sortCriteria() | filter:listSearch).length')
                  | {{ noItemsToShow | translate }}
  button.btn.btn-primary.pull-right(ng-if='isAdmin()', ui-sref='classroom.courses.new')
    | {{ 'new_course' | translate }}

