
.container
  .row.guide-progress-header
    h2
      .col-sm-8
        span {{ guide.name }}
        i.devicons(class='{{ guide.iconClass() }}')

        small.show {{ guide.lesson.name }}

      .col-sm-4
        small.pull-right
          a(href='{{ guide.getMumukiURL() }}', target='_blank')
            span Abrir en Atheneum

  .panel.panel-default
    .panel-heading
      .row
        .col-sm-8
          ul.guide-progress-options
            li
              span {{ 'last_solution' | translate }}:
              button.btn-link(ng-model='showDetails', ng-click='showDetails = !showDetails') {{ (showDetails ? 'hide' : 'show') | translate }}

            li
              span {{ 'show_students' | translate }}:
              button.btn-link(ng-model='onlyFollowers', ng-click='onlyFollowers = true') {{ 'only_followers' | translate }} ({{ followUpsCount }})
              span -
              button.btn-link(ng-model='onlyFollowers', ng-click='onlyFollowers = false') {{ 'all' | translate }} ({{ guideProgress.length }})          

        .col-sm-4
          .input-group
            i.input-group-addon.fa.fa-sort-amount-asc
            select.form-control(ng-model='sortingType')
              option(ng-repeat='x in availableSortingCriterias', value='{{x.type}}') {{ 'by_' + x.type | translate }}              

      .row
        .col-sm-4.pull-right
          .input-group
            i.input-group-addon.fa.fa-search
            input.form-control(id='filter', placeholder='{{ "filter_students" | translate }}', ng-model='listSearch')          

    .panel-body
      .row.guide-progress-main
        .col-md-4.col-sm-6(
            ng-repeat='progress in guideProgress | orderBy:sortingCriteria(progress) | filter:listSearch | filter:byFollowers')
          .row.guide-progress-blog.pointer(ui-sref='classroom.courses.course.guides.guide.students({ student: progress.student.social_id, eid: progress.lastExerciseSubmitted().id })')
            span.col-xs-9
              img.rounded-x(ng-src='{{ progress.student.image_url }}')
              .name-location
                strong {{ progress.student.fullName() }}
              .name-location
                i.fa.fa-clock-o 
                small {{ progress.lastSubmission().timeFromNow() }}

            span.col-xs-3
              h4.pull-right(ng-class='"guide-progress-" + progress.colorClass()')
                strong {{ progress.statistics().passed }}
                span &nbsp;/&nbsp;
                span {{ progress.statistics().total }}

            .student-guide-details(ng-show='showDetails')

              div(ng-if='progress.hasSubmissions()')
                section
                  .row
                    .col-sm-12.detail-title
                      strong Última solución enviada
                  .row
                    span.col-sm-10
                      a(ui-sref='classroom.courses.course.guides.guide.students({ student: progress.student.social_id, eid: progress.lastExerciseSubmitted().id })')
                        | {{ progress.lastExerciseSubmitted().getName() }}
                    span.col-sm-2.pull-right
                      status-icon(status='progress.lastSubmission().status')
                    .col-sm-12
                      pre(style='height: 125px; overflow-y: auto')
                        code
                          | {{ progress.lastSubmission().content }}
