
.container
  .row.guide-progress-header
    h2
      .col-sm-7
        span
          | {{ guide.name }}
          i.devicons(class='{{ guide.iconClass() }}')
        h5
          a(href='{{ guide.getMumukiURL() }}', target='_blank') Abrir en Atheneum
        small.show {{ guide.chapter.name }}

      .col-sm-5
        .option-buttons
          .btn-group.btn-group-justified.pull-right(role='group')
            label.btn.btn-default(ng-model='showDetails', ng-click='showDetails = !showDetails')
             div {{ (showDetails ? 'Ocultar' : 'Mostrar') }} detalles
          .btn-group.btn-group-justified.pull-right(role='group')
            label.btn.btn-default(ng-model='sortType', ng-click='sortType = "progress"') Por progreso
            label.btn.btn-default(ng-model='sortType', ng-click='sortType = "name"') Por nombre


  .row.guide-progress-main
    .col-md-4.col-sm-6(ng-repeat='progress in guideProgress | orderBy:sortingCriteria(progress)')
      .row.guide-progress-blog
        span.col-sm-8
          img.rounded-x(ng-src='{{ progress.student.image_url }}')
          .name-location
            strong {{ progress.student.fullName() }}
          .name-location
            strong {{ progress.student.name }}
          .name-location
            small {{ progress.student.email }}

        span.col-sm-4
          h4.pull-right(ng-class='"guide-progress-" + progress.colorClass()')
            strong {{ progress.stats().passed || 0 }}
            span &nbsp;/&nbsp;
            span {{ progress.stats().total }}

        .student-guide-details(ng-show='showDetails')
          .row(ng-if='!progress.hasSubmissions()')
            .col-sm-12.detail-title
              h4 No hay soluciones por el momento &nbsp;
                i.fa.fa-frown-o

          div(ng-if='progress.hasSubmissions()')
            section
              .row
                .col-sm-12.detail-title
                  strong Ejercicios
              .row(ng-repeat='exercise in progress.exercises')
                span.col-sm-10
                  a(ui-sref='classroom.guideProgress.exercise({ student: progress.student.social_id, exercise: exercise.id })')
                    | {{ exercise.getName() }}
                span.col-sm-2.pull-right
                  status-icon(status='exercise.lastSubmission().status')
            section
              .row
                .col-sm-12.detail-title
                  strong Última solución enviada
              .row
                span.col-sm-10
                  a(ui-sref='classroom.guideProgress.exercise({ student: progress.student.id, exercise: progress.lastExerciseSubmitted().id })')
                    | {{ progress.lastExerciseSubmitted().getName() }}
                span.col-sm-2.pull-right
                  status-icon(status='progress.lastSubmission().status')
                .col-sm-12
                  pre
                    code
                      | {{ progress.lastSubmission().content }}
