.container

  h2 Cursos Disponibles

  br

  .input-group
    i.input-group-addon.fa.fa-search
    input.form-control(id='filter', placeholder='Filtrar cursos disponibles', ng-model='listSearch')

  br

  div.list-group
    label
      | Tenés que iniciar sesión primero
