header#banner
  .ahahamojimoji ム
  .classroom Classroom

footer.footer
  span.ahahamojimoji ム
  span Mumuki
  = ' | '
  a(href='http://mumuki.io') Visitá la plataforma
  = ' | '
  a(href='http://mumuki.org') Conocé más sobre el proyecto
  = ' | '
  a(href='https://github.com/mumuki/mumuki-teacher-tools/issues?state=open') ¿Encontraste algún error?
