div(ng-repeat="html_asset in language_layout_html_urls")
  link(rel='import' ng-href='{{ html_asset }}')
div(ng-repeat="css_asset in language_layout_css_urls")
  link(rel='stylesheet' ng-href='{{ css_asset }}')
div(ng-repeat="js_asset in language_layout_js_urls")
  script(ng-src='{{ js_asset | trusted }}', defer='')
div(ng-repeat="html_asset in language_editor_html_urls")
  link(rel='import' ng-href='{{ html_asset }}')
div(ng-repeat="css_asset in language_editor_css_urls")
  link(rel='stylesheet' ng-href='{{ css_asset }}')
div(ng-repeat="js_asset in language_editor_js_urls")
  script(ng-src='{{ js_asset | trusted }}', defer='')
