nav.navbar.navbar-default.navbar-static-top
  .container

    .navbar-header
      button(class='navbar-toggle collapsed', data-toggle='collapse', data-target='#navbar-main')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref='classroom.home')
        span.ahahamojimoji ム
        span Classroom

    #navbar-main.collapse.navbar-collapse

      ul.nav.navbar-nav(ng-if='isLoggedIn()')
        li(ng-class='{ active: $state.is("classroom.courses") }')
          a(href='', ui-sref='classroom.courses') Mis cursos

      ul.nav.navbar-nav.navbar-right

        li.dropdown(ng-if='isLoggedIn()')
          a.dropdown-toggle(href='', data-toggle='dropdown', role='button')
            img.rounded-x.profile(ng-src='{{ profile().picture }}', width='40px')
            span.caret
          ul.dropdown-menu()
            li
              a {{ profile().name }}
            li.divider(role='separator')
            li
              a(href='', ng-click='signout()') Cerrar sesión

        li(ng-if='!isLoggedIn()')
          a(href='', ng-click='signin()') Iniciar sesión
