nav.navbar.navbar-default.navbar-static-top
  .container

    .navbar-header
      button(class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar-main")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref='classroom.home')
        span.ahahamojimoji ム
        span Classroom

    #navbar-main.collapse.navbar-collapse

      ul.nav.navbar-nav.navbar-right
        li
          a(href="") Cerrar sesión
        li
          a(href="") Iniciar sesión
