nav.navbar.navbar-default.navbar-static-top
  .container

    .navbar-header
      button(class='navbar-toggle collapsed', data-toggle='collapse', data-target='#navbar-main')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref='classroom.home')
        span.ahahamojimoji ム
        span Classroom

    #navbar-main.collapse.navbar-collapse

      ul.nav.navbar-nav(ng-if='isLoggedIn() && isTeacher()')

        li(ng-class='{ active: isCourses() }', ng-if='includesCourses()')
          a(href='', ng-click='goToCourses()') {{ 'courses' | translate }}

        li(ng-class='{ active: isGuides() }', ng-if='includesGuides()')
          a(href='', ng-click='goToGuides()') {{ 'guides' | translate }}

        li(ng-class='{ active: isStudents() }', ng-if='includesStudents()')
          a(href='', ng-click='goToStudents()') {{ 'students' | translate }}

        li(ng-class='{ active: isGuide() }', ng-if='includesGuide()')
          a(href='', ng-click='goToGuide()') {{ guideName() }}

        li(ng-class='{ active: isGuideExercises() }', ng-if='includesGuideExercises()')
          a(href='', ng-click='goToGuideExercises()') {{ userId() }}

      ul.nav.navbar-nav.navbar-right

        li.dropdown(ng-if='isLoggedIn()')
          a.dropdown-toggle(href='', data-toggle='dropdown', role='button')
            img.rounded-x.profile(ng-src='{{ profile().picture }}', width='40px')
            span.caret
          ul.dropdown-menu()
            li
              a {{ profile().name }}
            li.divider(role='separator')
            li
              a(href='', ng-click='signout()') {{ 'log_out' | translate }}

        li(ng-if='!isLoggedIn()')
          a(href='', ng-click='signin()') {{ 'log_in' | translate }}
