.container
  h3 {{ 'new_teacher' | translate }}
  fieldset.form-group
    input.form-control(ng-model='teacher.first_name', type='text', placeholder='First name', autofocus)
  fieldset.form-group
    input.form-control(ng-model='teacher.last_name', type='text', placeholder='Last name')
  fieldset.form-group
    input.form-control(ng-model='teacher.email', type='text', placeholder='example@mumuki.org')
  .row
    button.btn.btn-primary.modal-form-input.pull-right(ng-click='addTeacher()') {{ 'confirm' | translate }}
