.container

  .input-group
    i.input-group-addon.fa.fa-search
    input.form-control(id='filter', placeholder='Filtrar {{ type | lowercase }} disponibles', ng-model='listSearch')

  h3 {{ type }} Disponibles

  div.list-group
    button.list-group-item(ng-repeat='item in list | orderBy: sortCriteria() | filter:listSearch', ng-click='open(item)')
      i(class='{{ item.iconClass() }}')
      span.divider-vertical
      span.item-name {{ item.getName() | uppercase }}

  button.btn.btn-primary.pull-right(ng-if='isAdmin()', ui-sref='classroom.courses.new') Crear curso
