.container

  h2 {{ preTitle }} - {{ type }} Disponibles
  div(ng-if='url()')
    small.text-muted Dirección de suscripción de alumnos:&nbsp;
    small.text-muted.text-primary {{ url() }}
    span.clipboard
      span &nbsp;
      i.fa.fa-clipboard(ng-click='copy()')
      small.text-muted(ng-show='isCopied') &nbsp; Copied!

  br

  .input-group
    i.input-group-addon.fa.fa-search
    input.form-control(id='filter', placeholder='Filtrar {{ type | lowercase }} disponibles', ng-model='listSearch')

  br

  div.list-group
    button.list-group-item(ng-repeat='item in list | orderBy: sortCriteria() | filter:listSearch', ng-click='open(item)')
      i(class='{{ item.iconClass() }}')
      span.divider-vertical
      span.item-name {{ item.getName() | uppercase }}
    label(ng-if='!(list | orderBy: sortCriteria() | filter:listSearch).length')
      | No hay {{ type | lowercase }} para mostrar

  button.btn.btn-primary.pull-right(ng-if='isAdmin()', ui-sref='classroom.courses.new') Crear curso
