.container

  .input-group
    i.input-group-addon.fa.fa-search
    input.form-control(id='filter', placeholder='{{ inputPlaceholder | translate }}', ng-model='listSearch')

  br

  div.list-group
    button.list-group-item(ng-repeat='item in list | orderBy: sortCriteria() | filter:listSearch', ng-click='open(item)')
      i(class='{{ item.iconClass() }}')
      span.divider-vertical
      span.item-name {{ item.getName() | uppercase }}
      i.pull-right.mu-has-notification(ng-if='hasNotifications(item)')
    label(ng-if='!(list | orderBy: sortCriteria() | filter:listSearch).length')
      | {{ noItemsToShow | translate }}

  button.btn.btn-success.pull-right(ng-if='isJanitor()', ui-sref='classroom.courses.new')
    | {{ 'new_course' | translate }}
