.container

  .input-group
    i.input-group-addon.fa.fa-search
    input.form-control(id='filter', placeholder='{{ "filter_students" | translate }}', ng-model='listSearch')

  br

  .row
    .col-sm-12(ng-repeat='item in list | orderBy:sortCriteria | filter:listSearch')
      .row.guide-progress-blog
        .col-xs-6
          img.rounded-x(ng-src='{{ item.image_url }}')
          .name-location
            strong {{ item.fullName() }}
          .name-location
            strong {{ item.name }}
          .name-location
            small {{ item.email || ('email_not_provided' | translate) }}
        .col-xs-6
          .btn.pull-right(class="btn-{{followClass(item.social_id)}}", ng-click='followAction(item.social_id)')
            {{ followText(item.social_id) | translate }}
