.container

  .input-group
    i.input-group-addon.fa.fa-search
    input.form-control(id='filter', placeholder='{{ "filter_students" | translate }}', ng-model='listSearch')

  br

  .col-md-12(ng-repeat='item in list | orderBy:sortCriteria | filter:listSearch')
    .row.guide-progress-blog
      span.col-sm-8
        img.rounded-x(ng-src='{{ item.image_url }}')
        .name-location
          strong {{ item.fullName() }}
        .name-location
          strong {{ item.name }}
        .name-location
          small {{ item.email }}
