.container
  h3 {{ 'new_student' | translate }}
  fieldset.form-group
    input.form-control(ng-model='student.first_name', type='text', placeholder='Nombre', autofocus)
  fieldset.form-group
    input.form-control(ng-model='student.last_name', type='text', placeholder='Apellido')
  fieldset.form-group
    input.form-control.lower(ng-model='student.email', type='text', placeholder='example@mumuki.org')
  .row
    button.btn.btn-success.modal-form-input.pull-right(ng-click='addStudent()') {{ 'confirm' | translate }}
