div

  .input-group
    i.input-group-addon.fa.fa-search
    input.form-control(id='filter', placeholder='{{ "filter_teachers" | translate }}', ng-model='listSearch')

  br

  .teacher-card.row
    .col-md-4.col-sm-6.floating-card(ng-repeat='item in list | orderBy:sortCriteria | filter:listSearch')
      .student-card
        .student-card-profile

          .student-card-profile-image
            img.img-circle(with-default='{{ item.image_url }}')

          .student-card-profile-data
            .student-card-profile-data-item
              .student-card-profile-data-item-text
                span
                  i.fa.fa-fw(class='fa-{{ item.providerIcon() }}')
                strong
                  span {{ item.fullName() }}
              .student-card-profile-data-item-text
                span
                  i.fa.fa-fw.fa-at
                small
                  a(href='mailto:{{item.email}}', ng-if='item.email') {{ item.email }}

  button.btn.btn-success.pull-right(ng-if='isAdmin()', ng-click='newTeacher()')
    | {{ 'new_teacher' | translate }}
