div.markdown-panel
  a.pointer(ng-click='bold()', title='{{ "tooltip_bold" | translate }}')
    i.fa.fa-bold
  a.pointer(ng-click='italic()', title='{{ "tooltip_italic" | translate }}')
    i.fa.fa-italic
  a.pointer(ng-click='number()', title='{{ "tooltip_ol" | translate }}')
    i.fa.fa-list-ol
  a.pointer(ng-click='bullet()', title='{{ "tooltip_ul" | translate }}')
    i.fa.fa-list-ul
  a.pointer(ng-click='image()', title='{{ "tooltip_image" | translate }}')
    i.fa.fa-image
  a.pointer(ng-click='link()', title='{{ "tooltip_link" | translate }}')
    i.fa.fa-link
  a.pointer(ng-click='inlineCode()', title='{{ "tooltip_inline_code" | translate }}')
    i.fa.fa-code
  a.pointer(ng-click='code()', title='{{ "tooltip_code" | translate }}')
    i.fa.fa-file-code-o
  a.pointer(ng-click='quote()', title='{{ "tooltip_quote" | translate }}')
    i.fa.fa-quote-right
  a.pointer(ng-click='mumuki()', title='{{ "tooltip_mumuki" | translate }}')
    i.da.da-mumuki
  emojis(emoji-click='insertEmoji')
