.tabbable
  ul.nav.nav-tabs
    li(role='presentation', ng-click='write()', ng-class='activeWriteClass()')
      a(href='', data-toggle='tab') Write
    li(role='presentation', ng-click='preview()', ng-class='activePreviewClass()')
      a(href='', data-toggle='tab') Preview

  .tab-content
    .tab-pane(ng-class='activeWriteClass()')
      ace-markdown-toolbar(editor='editor')
      .markdown(ui-ace='aceEditor', ng-model='content')
    .tab-pane(ng-class='activePreviewClass()')
      .markdown-rendered(ng-bind-html='html()')
