.container-fluid
  .row
    .col-sm-12
      h4.modal-title Are you sure...
    .col-sm-12
      p {{ text }}
    .col-sm-12
      button.btn.btn-default(type='button', ng-click='no()', data-dismiss='modal') No
      button.btn.btn-primary(type='button', ng-click='yes()') Yes
