.modal-content
  .modal-header
    p.modal-title.text-center.title-font {{ 'new_message' | translate }}

  .modal-body
    .container-fluid
      .row
        .col-md-12

          ace-with-markdown(content='message.message.content', header='new_message')

  .modal-footer
    .row
      .col-md-12.pull-right
        button.btn.btn-default(type='button', ng-click='cancel()', data-dismiss='modal')
          span {{ 'cancel' | translate }}
        button.btn.btn-success(type='button', spin-on-click='send()')
          i.fa.fa-send
          span &nbsp;
          span {{ 'send' | translate }}
