.row
  h4.col-xs-12.modal-title.text-center {{ 'add_permissions_to_teacher' | translate }} {{course}}
br
br
.row
  input.col-xs-8.col-xs-offset-2(ng-model='email', type='text', placeholder='example@mumuki.org', autofocus)
br
br
.row
  button.btn.btn-primary.col-xs-8.col-xs-offset-2(ng-click='addPermission()') {{ 'confirm' | translate }}
