.container-fluid
  .row
    .col-sm-12
      h4.modal-title {{ student.fullName() }}
    .col-sm-12
      div.list-group
        button.list-group-item(ng-repeat='course in courses | orderBy: ["getName()"]', ng-click='transfer(course)')
          i(class='fa fa-graduation-cap')
          span.divider-vertical
          span.item-name {{ course.getName() | uppercase }}

      button.btn.btn-success.pull-right(ng-click='cancel()')
        | {{ 'cancel' | translate }}

