.modal-content
  .modal-header
    p.modal-title.text-center.title-font {{ 'messages' | translate }}

  .modal-body.view-messages
    .container-fluid
      .row
        .col-md-12

          span(ng-bind-html='html')

  .modal-footer
    .row
      .col-md-12.pull-right
        button.btn.btn-default(type='button', ng-click='cancel()', data-dismiss='modal')
          span {{ 'cancel' | translate }}
        button.btn.btn-success(type='button', spin-on-click='send()')
          i.fa.fa-send
          span &nbsp;
          span {{ 'send' | translate }}
