mixin follow
  h4(ng-class='{                               \
      "follow": isFollowing(item.social_id),   \
      "unfollow": !isFollowing(item.social_id) \
    }')
    i.pointer.fa.pull-right.eye-margin(
        ng-click='followAction(item.social_id)',
        ng-class='{                                   \
          "fa-eye": isFollowing(item.social_id),      \
          "fa-eye-slash": !isFollowing(item.social_id)\
        }')
    i.pointer.fa.fa-pencil.pull-right.eye-margin.edit-icon(ng-click='edit(item.social_id)')

.row.guide-progress-blog
  .col-sm-4.col-xs-10
    img.rounded-x(ng-src='{{ item.image_url }}')
    .name-location
      strong {{ item.fullName() }}
    .name-location
      small(ng-if='!item.email') {{ 'email_not_provided' | translate }}
      small(ng-if='item.email')
        a(href='mailto:{{ item.email }}') {{ item.email }}
  .col-xs-2.visible-xs
    +follow
  .col-sm-7.col-xs-12.text-center
    .row
      .col-xs-12.margin-bottom
          span Total:&nbsp;
          strong {{ item.totalStats() }}
      .col-xs-4
          i.fa.fa-times-circle
          span &nbsp;{{ item.stats.failed }}
      .col-xs-4
          i.fa.fa-exclamation-circle
          span &nbsp;{{ item.stats.passed_with_warnings }}
      .col-xs-4
          i.fa.fa-check-circle
          span &nbsp;{{ item.stats.passed }}
  .col-sm-1.hidden-xs
    +follow
