.row.guide-progress-blog.pointer(
    ui-sref='classroom.courses.course.guides.guide.students({ \
      student: item.student.social_id,                    \
      eid: item.lastExerciseSubmitted().id                \
    })')
  span.col-xs-9
    img.rounded-x(ng-src='{{ item.student.image_url }}')
    .name-location
      strong {{ item.student.fullName() }}
    .name-location
      i.fa.fa-clock-o
      small {{ item.lastSubmission().timeFromNow() }}

  span.col-xs-3
    h4.pull-right(ng-class='"guide-progress-" + item.colorClass()')
      strong {{ item.statistics().passed }}
      span &nbsp;/&nbsp;
      span {{ item.statistics().total }}

  .student-guide-details(ng-show='showDetails()')

    div(ng-if='item.hasSubmissions()')
      section
        .row
          .col-sm-12.detail-title
            strong {{ 'last_solution' | translate }}
        .row
          span.col-sm-10
            a(ui-sref='classroom.courses.course.guides.guide.students({ student: item.student.social_id, eid: item.lastExerciseSubmitted().id })')
              | {{ item.lastExerciseSubmitted().getName() }}
          span.col-sm-2.pull-right
            status-icon(status='item.lastSubmission().status')
          .col-sm-12
            pre(style='height: 125px; overflow-y: auto')
              code
                | {{ item.lastSubmission().content }}
