a.notification-item(href='' ng-click='goToAssignment(notification)')
  .notification-image
    img.profile.adjust-position(with-default='{{ notification.assignment.student.image_url }}', width='35px')
  .notification-body
    .notification-text(ng-bind-html='trust(notification)')
